.file-remove  {
   position: absolute;
     top:212px;
     right: 90px;
 line-height: 15px;
   cursor: pointer;
   color: #000;
  margin-right: -10px;
     cursor: pointer; 
}
input:invalid{
  border:1px solid #ff0000
  }
  .error {
    border: 1px solid red;
  }
  #businesstype {
  color:red
 }
 .invalid{
  border: 1px solid #F50000;
 
}
.form-control{
  border: 1px solid #F50000;
 color: #000000;
} 
