
 
/* #password{
    position: relative;
    
}
input[type="email"]:hover {
    border: 2px solid green;
  }
  input[type="password"]:hover {
    border: 2px solid #4375FF;
  }
  .login-form #eye{

position: absolute;
top: 40%;
right: 5%;
cursor: pointer;
color: lightgray;
width: 20px;
height: 20px;
font-size: 12px;

} */
 

.text-danger{
  color :red;
  font-size: 12px;
  
}

 .invalid{
  border: 1px solid #F50000;
  font-size: 12px;
}
