.NavBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  background-color: #fff;
    height: 5rem;
    position: relative;
  }
  .logo {
    flex-basis: 23%;
    display: flex;
  
  }
  .logo img {
    width: 20%;
    margin-left: 16px;
    margin-top: 15px;
  }
  .logo h2 {
    width: 50%;
    margin-left: 16px;
 margin-top: 27px;
    font-size:20px;
  }
 
  .links {
    flex-basis: 35%;
    cursor: pointer;
  }
  .links ul {
    display: flex;
    list-style: none;
  }
  li {
    margin-left: 50px;
    color: var(--clr-grey-1);
    font-size: 1.2rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    padding: 0.5rem;
  }
  .Create{
    color: #4375FF;
    border: 1px solid #4375FF;
padding: 10px;
width: 60px;

border-radius: 25px;
  }