.sign-container{
    max-width: 703px;
height: 748px;
    margin: auto; 
    justify-content: flex-start;
    flex-direction: column;
    font-weight: Semibold;
    font-family: "Segoe UI", Arial, sans-serif; 
  margin-top: 3px;
  padding: 2% 0 0; 
  }
.sign{
     background: #FFFFFF;
    border-radius: 10px;
max-width: 340px;
    margin: 0 auto 100px;
    padding: 0px 70px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.sign{
font-size: 12px;
text-transform: capitalize;
font-weight: Semibold;
}
.sign-container h4{
font-size: 14px;
word-spacing: 1px;
}
.sign .fulName{
    display: flex;
    width: 100%;
    justify-content: space-between;  
}


.sign #Last{
    margin-left: 30px;

}
.sign .input_field label{
   margin-top: 20px;
   font-size: 12px; 
   color: #707070;
}
.sign .input{
    display: flex;
    width: 100%;  
    display: inline-block; 
}
.sign #FirstName{
width: 50%;
}
.sign #LastName{
    width: 50%;
    margin-left: 30px;

}
.sign .fulName input{
    font-size: 10px;
    padding: 1rem;
    width: 50%;
}
.FirstName{
    width: 50%;

}
.sign .LastName{
    width: 50%;
    margin-left: 50px;
   
}
.sign form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;

    position: relative;
}
.sign input[type="text"]{
    text-align: left;
    padding: 3px 30px;
    font-size: 12px;
    border-radius: 5px;
    border: 1px solid  rgb(175, 172, 172);
    position: relative;
    justify-content: space-between;
    margin-top: 5px;
    
    
}


.sign #eye1{
    position: absolute;
    top: 38%;
    right: 5%;
    cursor: pointer;
    color: lightgray;
    width: 20px;
    height: 20px;
    font-size: 10px;

}
.sign input[type="text"]::placeholder{
    text-align: left;
    margin-left: -20px;
    position: absolute;
    margin-top: 10px;
}
.sign input[type="email"]::placeholder{
    padding-left: 10px;
}
.sign input[type="email"],
.sign input[type="password"],
.sign input[type="tel"],
.sign select,
.sign button
 {
  font-family: 'Nunito', sans-serif;
  font-size: 12px;
  padding: .30px;
  border-radius: 5px;
  border: 1px solid  rgb(175, 172, 172);
  margin-top: -10px;
}
.sign label {font-weight: bold;margin-bottom: .5rem;color:#707070;}
.sign label,
.sign button {
  margin-top: 5px;
}
.sign .AlreadyAcouunt{
    text-align: center;
    margin-top: 12px;
    font-size: 12px;
    text-decoration: none;
    margin-bottom: 20px;
   
}
.sign .AlreadyAcouunt span {
    color:#4375ff;
    cursor: pointer;
    text-decoration: none;
}
.signLink{
    color:#4375ff;
    cursor: pointer;
    text-decoration: none;
}
.sign .signup1{
    background-color:#4375FF;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    width: 340px;
    height: 40px;
    margin-top: 35px;
}
.sign .signup1 p{
    color: #fff;
    margin-top: 10px;
    font-size: 16px;
  }
.text-danger{
    color :red;
}
.invalid {
    border:1px solid red !important;
   }
   select{
    color: #707070;
   }
 
   .react-tel-input .form-control {
    width: 340px !important; 
    height: 40px !important;
   }
   /* .PhoneInput{
  
   }
   .PhoneInputCountrySelect{
    margin-left: 100px;
    position: absolute;
   }
  .PhoneInputCountryIcon{

  }
.PhoneInputCountrySelectArrow{

}
.PhoneInputCountrySelect{
margin-left: 10px;
opacity: -1;
}
#phone{
    position: relative;
} */
.form-control{
    width: 340px;
    height: 30px;
}
.sign select{
    height: 40px;}