
                            .invalid1{
                              border: 1px solid #F50000;
                     
                            }
                            .form-control{
                              border: 1px solid #F50000;
                             
                            }
                            /* #Test:nth-of-type(3){
                             margin-right: 100px; 
                            } */
                            .input-error{
                              color: #f13a3a;
                              height: 30px;
                              line-height: 30px;
                            }
                            
                            .input-error-border{
                              border: 1px solid #c51244 !important;
                            }
                            