.Recovery-container{
  
    
  }
  .Recovery1{
   

  }
.Recovery{
   
  
} 
.Recovery-form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
    margin-top: -10px;
 
}
.Recovery1 .back{
    position: absolute; 
    top: 130px;
    left: 500px;
    font-size: 18px;
    cursor: pointer;
 }


.Recovery-form input[type="email"],
.Recovery-form button
 {
  font-family: 'Segoe UI';
  padding: .57rem;
  border-radius: 5px;
  border: 1px solid  rgb(175, 172, 172);
  margin-top: 5px;
}
.Recovery-form label { font-weight: Semibold;font-size: 12px;color:#707070; border: #707070;  }
.Recovery-form label,
.Recovery-form button {
  margin-top: 1rem;
}
.forgetEmail{
  
}
.forgetEmail h4{
font-size: 13px;
border: #707070;
text-transform: capitalize;
letter-spacing: 1px;
font-weight: Semibold;
font-family: Segoe UI;
}
.forgetEmail p{
   
}
.Recovery-form .RecoveryBtn{
    background-color: #4375FF;
    color: #fff;
    cursor: pointer;  
    margin-top: 60px;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 80px;
    width: 345px;
}
/**************************Password Confirm********************************/
.RecoveryPass-container{
    max-width: 703px;
    min-height: 821px;
    padding: 7% 0 0;
    margin: auto; 
    justify-content: flex-start;
    flex-direction: column;
    margin-top: -40px;
}
.RecoveryPass{
    background: #FFFFFF;
    border-radius: 10px;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 40px 40px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.RecoveryPass .back{
    position: absolute; 
    top: 130px;
    left: 500px;
    font-size: 18px;
    cursor: pointer;
 }
.RecoveryPass-form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
    margin-top: -10px;
    position: relative;
}
.RecoveryPass input[type="password"],
.RecoveryPass button
 {
  font-family: 'Segoe UI';
  padding: .57rem;
  border-radius: 5px;
  border: 1px solid  rgb(175, 172, 172);
  margin-top: 1px;
}
.RecoveryPass label { font-weight: Semibold;font-size: 12px;color:#707070; border: #707070;  }
.RecoveryPass label,
.RecoveryPass button {
  margin-top: 1rem;
}
.RecoveryPass .RecoveryPassBtn{
    background-color: #4375FF;
    color: #fff;
    cursor: pointer;  
    margin-top: 40px;
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
    width: 360px;
    height: 40px;
    margin-bottom: 70px;
}
 .RecoveryPass-form .RecoveryPassBtn p{
  color: #fff;
  margin-top: 1px;
  font-size: 16px;
}
.Resed{
  
}
.Resed .ResendLink{
    text-decoration: none;
    color: #4375FF;
}
.forgetPassword h4{

font-size: 13px;
border: #707070;
text-transform: capitalize;
letter-spacing: 1px;
font-weight: Semibold;
font-family: Segoe UI;
}
/*************************Checked*****************************************/
.RecoveryCheck-container{
    
}
.RecoveryCheck{
 
}
.RecoveryCheck-form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
    margin-top: -10px;
}
.RecoveryCheck-form button
 {
  font-family: 'Segoe UI';
  padding: .40rem;
  border-radius: 5px;
  border: 1px solid  rgb(175, 172, 172);
  margin-top: 1px;
  width: 340px;
  height: 35px;
}
.RecoveryCheck-form p{
    color: #fff;
    margin-top: -1px;
    font-size: 16px;
  }
.RecoveryCheck-form button {
  margin-top: 1rem;
  width: 85%;
  margin-left: 40px;
}
.PasswordRest{
    
}
.PasswordRest img{

}
.PasswordRest h4{
 
font-size: 13px;
border: #707070;
text-transform: capitalize;
letter-spacing: 1px;
font-weight: Semibold;
font-family: Segoe UI;
    }
    .PasswordRest p{
       
        }
        .ClickLog{
            
        }
        .RecoveryCheckBtn{
    

        }
        /*****************************************************************************/
        .box-container{
           
         
        }
        .Recovery .back{
            position: absolute; 
            top: 140px;
            left: 500px;
            font-size: 18px;
            cursor: pointer;
         }
         
        .LeftBox{
        
         
        }
        .RightBox{
          
        }
        .CheckEmail h4{
font-size: 16px;
margin-top: 30px;
        }
        .CheckEmail p{
            font-size: 16px;
            color: #707070;
                    }
                   .Recovery-form1 .Resed1{
                    text-align: center;
                    font-size: 14px;
                    margin-top: -15px;
                    margin-bottom: 40px;
                    }
                   .Recovery-form1 .ResendLink1{
                   
                    }
                .RecoveryBtn1{
                        background-color: #4375FF;
                        color: #fff;
                        cursor: pointer;  
                        margin-top: 50px;
                        font-size: 16px;
                        font-weight: bold;
                           width: 370px;
                        text-transform: capitalize;
                        margin-bottom: 50px;
                    }
                    .Recovery-form1 .RecoveryBtn1{
                        
                    }
                    .Recovery-form1  .RecoveryBtn1 p{
                      color: #fff;
                      margin-top: 1px;
                      font-size: 16px;
                    }
                    .RecoveryPass-form #eye{

                        position: absolute;
                        top: 17%;
                        right: 5%;
                        cursor: pointer;
                        color: lightgray;
                        width: 20px;
                        height: 20px;
                        font-size: 12px;
                        
                        }
                        .RecoveryPass-form #eye1{

                            position: absolute;
                            top: 43%;
                            right: 5%;
                            cursor: pointer;
                            color: lightgray;
                            width: 20px;
                            height: 20px;
                            font-size: 12px;
                            
                            }
                          