body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: #F3F4F6;
     /* overflow: hidden;  */
    font-family: "Segoe UI", Arial, sans-serif;
    font-family:  "Segoe UI";
   
 
}
a{
    text-decoration: none;
}
   #error{
    font-size: 12px
  } 
  .invalid{
    border: 1px solid #F50000;
    font-size: 12px;
  }
  